pipeline/Switchpipeline.json
{
	"name": "Switchpipeline",
	"properties": {
		"activities": [
			{
				"name": "Swith Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "para_data_set",
						"type": "DatasetReference",
						"parameters": {
							"DS_filesystem": {
								"value": "@pipeline().parameters.switch_filesystem",
								"type": "Expression"
							},
							"DS_directory": {
								"value": "@pipeline().parameters.switch_dir",
								"type": "Expression"
							},
							"DS_filename": {
								"value": "@pipeline().parameters.switch_filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Swith Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Swith Metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@toLower(split(item().name,'.')[1])",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "txt",
										"activities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "para_data_set",
														"type": "DatasetReference",
														"parameters": {
															"DS_filesystem": {
																"value": "@pipeline().parameters.switch_filesystem",
																"type": "Expression"
															},
															"DS_directory": {
																"value": "@pipeline().parameters.switch_dir",
																"type": "Expression"
															},
															"DS_filename": "@item().name"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "para_data_set",
														"type": "DatasetReference",
														"parameters": {
															"DS_filesystem": {
																"value": "@pipeline().parameters.switch_filesystem",
																"type": "Expression"
															},
															"DS_directory": "Project/Output/TXTFolder",
															"DS_filename": "@item().name"
														}
													}
												]
											}
										]
									},
									{
										"value": "csv",
										"activities": [
											{
												"name": "Copy data2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "para_data_set",
														"type": "DatasetReference",
														"parameters": {
															"DS_filesystem": {
																"value": "@pipeline().parameters.switch_filesystem",
																"type": "Expression"
															},
															"DS_directory": {
																"value": "@pipeline().parameters.switch_dir",
																"type": "Expression"
															},
															"DS_filename": "@item().name"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "para_data_set",
														"type": "DatasetReference",
														"parameters": {
															"DS_filesystem": {
																"value": "@pipeline().parameters.switch_filesystem",
																"type": "Expression"
															},
															"DS_directory": "Project/Output/CSVFolder",
															"DS_filename": "@item().name"
														}
													}
												]
											}
										]
									},
									{
										"value": "xml",
										"activities": [
											{
												"name": "Copy data3",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "para_data_set",
														"type": "DatasetReference",
														"parameters": {
															"DS_filesystem": {
																"value": "@pipeline().parameters.switch_filesystem",
																"type": "Expression"
															},
															"DS_directory": {
																"value": "@pipeline().parameters.switch_dir",
																"type": "Expression"
															},
															"DS_filename": "@item().name"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "para_data_set",
														"type": "DatasetReference",
														"parameters": {
															"DS_filesystem": {
																"value": "@pipeline().parameters.switch_filesystem",
																"type": "Expression"
															},
															"DS_directory": "Project/Output/XMLFolder",
															"DS_filename": "@item().name"
														}
													}
												]
											}
										]
									},
									{
										"value": "json",
										"activities": [
											{
												"name": "Copy data4",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "para_data_set",
														"type": "DatasetReference",
														"parameters": {
															"DS_filesystem": {
																"value": "@pipeline().parameters.switch_filesystem",
																"type": "Expression"
															},
															"DS_directory": {
																"value": "@pipeline().parameters.switch_dir",
																"type": "Expression"
															},
															"DS_filename": "@item().name"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "para_data_set",
														"type": "DatasetReference",
														"parameters": {
															"DS_filesystem": {
																"value": "@pipeline().parameters.switch_filesystem",
																"type": "Expression"
															},
															"DS_directory": "Project/Output/JsonFolder",
															"DS_filename": "@item().name"
														}
													}
												]
											}
										]
									},
									{
										"value": "jpg",
										"activities": [
											{
												"name": "Copy data5",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "para_data_set",
														"type": "DatasetReference",
														"parameters": {
															"DS_filesystem": {
																"value": "@pipeline().parameters.switch_filesystem",
																"type": "Expression"
															},
															"DS_directory": {
																"value": "@pipeline().parameters.switch_dir",
																"type": "Expression"
															},
															"DS_filename": "@item().name"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "para_data_set",
														"type": "DatasetReference",
														"parameters": {
															"DS_filesystem": {
																"value": "@pipeline().parameters.switch_filesystem",
																"type": "Expression"
															},
															"DS_directory": "Project/Output/ImgFolder",
															"DS_filename": "@item().name"
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"switch_filesystem": {
				"type": "String"
			},
			"switch_dir": {
				"type": "String"
			},
			"switch_filename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}